/* general */

body {
  font-family: 'Poppins', 'Roboto', sans-serif;
}

h1 {
  font-size: 1.5rem;
  font-weight: 400;
  display: inline-block;
  margin-bottom: 0;
}

img {
  max-width: 100%;
}


/* utilities */




/* header */

header img {
  width: 100px;
}

header .lf-logo {
  display: none;
  width: 30px;
}

header .icons {
  width: 130px;
  cursor: pointer;
}

header {
  height: 50px;
  background-color: #F8F8FB;
  font-family: 'Roboto', sans-serif;
}

header .lf-navbar {
  flex-wrap: nowrap;
}

header .lf-navbar form {
  width: 80%;
  height: 30px;
}

header .lf-navbar input {
  border-radius: 0;
}

input::placeholder {
  font-size: 0.8rem;
}

/* main */

main {
  height: calc(100vh - 50px);
  font-family: 'Roboto', sans-serif;;
}

/* bar */

main .bar {
  font-family: 'Poppins', sans-serif;
}

main .bar {
  width: 115px;
  height: calc(100vh - 50px);
  background-color: #061E34;
}

main .bar span {
  font-size: 0.7rem;
  font-weight: lighter;
}


/* content */

main .content h3 {
  font-size: 1.3rem;
  font-weight: 400;
  color: #272630;
}


main .content {
  width: calc(100% - 115px);
  height: calc(100vh- 50px);
  background-color: #FFFFFF;
  overflow: auto;
} 

main .content nav {
  height: 90px;
  background-color: #1B73E8;
  color: #F4F4F7;
}

main .content nav p {
  font-weight: 300;
  font-size: 0.8rem;
  margin-bottom: 0;
}

main .content nav p.num {
  font-size: 1.5rem;
}

main .content nav span {
  cursor: pointer;
  font-size: 0.7rem;
  font-weight: 400;
  background-color: #155CBA;
  padding: 3px 6px;
  border-radius: 10px;
}

main .content nav i {
  display: none;
  font-size: 0.7rem;
}

main .content nav i.back {
  background-color: #155CBA;
  padding: 3px 4px;
  border-radius: 50%;
}


/* dropdown menu */

.content .drop {
  width: 860px;
  height: 45px;
  background-color: #F7F7F7;
  border: 1px solid #dad8d8;
}

.content .drop button {
  background-color: #F7F7F7;
  color: #155CBA;
}

.drop .dropdown-toggle::after {
  display: none;
}


/* table */

table.lf-table > :not(caption) > * > * {
  padding: 0.3rem 0.3rem;
}

.content table.lf-table th,
.content table.lf-table td,
.content table.lf-table span{
  font-size: 0.8rem;
}

.content table.lf-table td,
.content table.lf-table span{
  text-align: center;
}

.content table.lf-table tr.up {
  border-bottom: 1px solid black;
}

.content table.lf-table th i {
  background-color: #F26453;
  padding: 6px 5px;
  color: #F8F8FB;
  border-radius: 50%;
  font-size: 0.7rem;
  margin-right: 3px;
}

.content table.lf-table th span {
  font-weight: 400;
}

.content table.lf-table td i {
  color: #6B757D;
  padding: 6px;
  border: 1px solid #6B757D;
  border-radius: 5px;
  cursor: pointer;
}


.content table.lf-table td span {
  background-color: #1A8754;
  padding: 2px 5px;
  border-radius: 4px;
  color: #F8F8FB;
}



/************* MEDIA *************/


@media screen and (max-width: 991px) {
  main .content nav {
    height: 130px;
  }

  main .content nav span.small {
    display: none;
  }

  main .content nav i {
    display: inline-block;
  }
}



@media screen and (max-width: 768px) {

  header .navbar-brand img {
    display: none;
  }

  header .navbar-brand .lf-logo {
    display: inline-block;
  }

  header .icons .icon_b {
    display: none;
  }

  main .bar {
    width: 45px;
  }

  main .bar span {
    display: none;
  }

  main .content {
    width: calc(100% - 45px);
  }


}




@media screen and (max-width: 576px) {

  main .bar {
    width: 30px;
  }

  main .bar .lf-containersmall {
    margin: 0;
    padding: 0;
  }

  main .bar i {
    font-size: 20px;
  }

  main .content {
    width: calc(100% - 30px);
  }
}

