/* general */

body {
  font-family: 'Poppins', 'Roboto', sans-serif;
}

img {
  max-width: 100%;
}


/* utilities */




/* header */

header img {
  width: 100px;
}

header .icons {
  width: 130px;
}

header {
  height: 50px;
  background-color: #F8F8FB;
  font-family: 'Roboto', sans-serif;
}

header .lf-navbar {
  flex-wrap: nowrap;
}

header .lf-navbar form {
  width: 80%;
  height: 30px;
}

header .lf-navbar input {
  border-radius: 0;
}

input::placeholder {
  font-size: 0.8rem;
}

/* main */

main {
  height: calc(100vh - 50px);
 
}

/* bar */

.bar {
  width: 115px;
  height: calc(100vh - 50px);
  background-color: #061E34;
}


/* content */

.content {
  width: calc(100% - 115px);
  height: calc(100vh- 50px);
  background-color: #FFFFFF;
  overflow: auto;
} 






/* MEDIA */


@media screen and (max-width: 768px) {

  main .bar {
    width: 45px;
  }

  main .content {
    width: calc(100% - 45px);
  }
}


@media screen and (max-width: 576px) {

  main .bar {
    width: 30px;
  }

  main .content {
    width: calc(100% - 30px);
  }
}

